/* Colores */
:root {
    --color-primario: #FA653E;
    --color-secundario: #FAA545;
    --color-terciario: #FA8745;
    --color-cuaternario: #F54945;
    --color-quinto: #F5BD45;
    --color-texto: #333;
    --color-fondo: #FFF9F0;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

/* Estilos para el encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: var(--color-primario);
}

.header h2 {
    font-size: 18px;
    color: var(--color-secundario);
}

/* Estilos para el título */
.title {
    text-align: center;
    margin-bottom: 20px;
}

.title h3 {
    font-size: 28px;
    color: var(--color-terciario);
}

/* Estilos para los botones */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-primary {
    background-color: var(--color-primario); /* Color del botón primario */
}

.btn-secondary {
    background-color: var(--color-secundario); /* Color del botón secundario */
}

.btn-success {
    background-color: var(--color-terciario); /* Color del botón de éxito */
}

.btn-info {
    background-color: var(--color-cuaternario); /* Color del botón informativo */
}

/* Estilos específicos para el botón de cerrar sesión */
.btn-danger {
    background-color: var(--color-quinto); /* Color para el botón de cerrar sesión */
}

.btn-danger:hover {
    background-color: var(--color-terciario); /* Color en hover */
    transform: scale(1.05); /* Efecto de escalado */
}

.btn-carrera {
    background-color: var(--color-primario);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

/* Estilo del título */
.title h1 {
    font-size: 28px;
    color: var(--color-terciario); /* Color definido en tus variables */
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo de la lista de carreras */
.listado-carreras {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
    margin: 0 auto;
    max-width: 600px; /* Ancho máximo para centrar */
}

/* Contenedor de cada carrera */
.carrera-item {
    position: relative;
    background-color: var(--color-secundario); /* Color de fondo */
    color: var(--color-texto);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacia el nombre y el botón */
}

/* Nombre de la carrera */
.carrera-nombre {
    flex: 1;
}

/* Contenedor para mantener los botones en línea */
.btn-group {
    display: inline-flex;
    gap: 5px; /* Espacio entre los botones */
}

.btn-edit {
    background-color: #f0ad4e; /* Color amarillo o el que prefieras */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.btn-delete {
    background-color: #d9534f; /* Color rojo o el que prefieras */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.text-danger {
    color: #FF0000;
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 15px; /* Aumenta el espacio debajo del mensaje de error */
}


/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #FA653E;
    --primary-color-light: #ffede9;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    height: 100vh;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
    height: 100vh;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}
